.page_error_contenedor {
    text-align: center;
}

.page_error {
    margin-top: 100px;
}

.page_error h2 {
    font-size: 144px;
    font-weight: bold;
}

.page_error hr {
    width: 50px;
    border: 2px solid #fff;
    margin: 20px auto;
}

.page_error p {
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}
