.slider__container {
    padding: 2rem;
    max-width: 778px;
}

.slider__container-wrapper {
    position: relative;
    z-index: -1;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 3/2;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider__nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.slider__nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #f5efe6;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider__nav a:hover {
    opacity: 1;
}
