.contenedor_titulo {
    color: var(--text-90);
    display: block;
    text-align: center;
    margin: 1rem 0;
}
.contenedor_titulo h1,
.contenedor_titulo h3 {
    font-size: 3rem;
}
.contenedor_titulo h2,
.contenedor_titulo p {
    font-size: 1.5rem;
    font-weight: 100;
}
